<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs |
        <%=title%>
    </title>
    <!-- to assess the property we'll use d pipe sym (|)
        the angle brackets and percentage r used to 'Output a variable' -->
    <link rel="stylesheet" href="/styles.css">


</head>