<html lang="en">
<%- include ("./partials/head.ejs")%>

    <body>
        <%- include ("./partials/nav.ejs")%>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur minus architecto itaque, adipisci laboriosam eos nihil repudiandae unde voluptatum animi officia, expedita ad dolorum laborum mollitia vero id officiis qui deleniti
                    quo quasi similique.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur minus architecto itaque, adipisci laboriosam eos nihil repudiandae unde voluptatum animi officia, expedita ad dolorum laborum mollitia vero id officiis qui deleniti
                    quo quasi similique.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur minus architecto itaque, adipisci laboriosam eos nihil repudiandae unde voluptatum animi officia, expedita ad dolorum laborum mollitia vero id officiis qui deleniti
                    quo quasi similique.</p>

            </div>

            <%- include ("./partials/footer.ejs")%>

    </body>

</html>